@import 'universal';
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 20%;
  box-sizing: border-box;

  .image-section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40%;
    height: auto;
    min-width: 330px;

    .image-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 80%;
        max-width: 100%;
        height: 90%;
        border-radius: 10px;
        object-fit: cover;
        aspect-ratio: 1/1.25;
        position: relative;
        padding:50px 0;
      }

      .rectangle {
        position: absolute;
        width: 150px;
        height: 150px;
        border: 5px solid #F47A65;
        background-color: #F47A65;
      }

      .top-right {
        top: 1px;
        right: 15px;
      }

      .bottom-left {
        bottom: 0;
        left: 10px;
      }
      .empty{
        background-color:transparent;
        width:150px;
        height:200px;
        border-radius: 10px;
        border: 4px solid #F47A65;

      }
    }
  }

  .text-section {
    width: 50%;
    max-width: 600px;
    text-align: left;
    min-width: 330px;

    h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 30px;
    }

    .social-icons {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;

      a {
        font-size: 24px;
        color: #333;
        text-decoration: none;
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 10px;
        transition: 0.3s;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
    i{
      padding: 3px;
      width: 30px;
      height: 30px;
      align-content: center;
      text-align: center;

    }
    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      div {
        font-size: 16px;

        strong {
          font-weight: bold;
        }
      }
    }
  }
}
