body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.logo {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 20%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 40px;
  padding-right: 7%;
}
.topnav a {
  color: #333;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  padding: 20px 20px;
  transition: color 0.3s;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.topnav a:hover, .topnav a.active {
  color: #FF5868;
  border-bottom: 2px solid #FF5868;
}
.topnav .icon {
  display: none;
  font-size: 24px;
}
.topnav .menu {
  display: flex;
  gap: 10px;
}
.topnav .menu :last-child a {
  margin-right: 20%;
}
@media screen and (max-width: 886px) {
  .topnav .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .topnav.responsive .menu {
    display: flex;
    z-index: 10;
  }
  .topnav.responsive .menu a {
    border-bottom: 0px;
  }
  .topnav .icon {
    display: flex;
  }
}

.portfolio-header {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}
.portfolio-header .line-wrapper {
  width: 61%;
  min-width: 333px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
}
.portfolio-header h5 {
  margin-top: 50px;
  color: #a5aaaa;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}
.portfolio-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.portfolio-header h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #e74c3c;
  margin: 10px auto 0;
}

.arrow {
  position: fixed;
  bottom: -7px;
  right: 5px;
  transform: translateY(-60%);
  height: 50px;
  width: 50px;
  background-color: #FF5868;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  padding: 16px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin: 0% 20% 0% 20%;
  padding-top: 46px;
}
.about-container .image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 100px;
}
.about-container .image-section .image-wrapper {
  position: relative;
}
.about-container .image-section .image-wrapper img {
  width: 250px;
  height: auto;
  position: relative;
  z-index: 2;
}
.about-container .image-section .image-wrapper .decorative-square {
  position: absolute;
  top: -45px;
  left: 95px;
  width: 200px;
  height: 200px;
  border: 2px solid #F47A66;
  background-color: #F47A66;
  z-index: 1;
  border-radius: 1px;
}
.about-container .image-section .image-wrapper .decorative-square-second {
  position: absolute;
  border-radius: 10px;
  top: 200px;
  left: -40px;
  width: 200px;
  height: 200px;
  border: 2px solid #F47A66;
  z-index: 1;
}
.about-container .text-section {
  flex: 1;
  margin-top: 40px;
}
.about-container .text-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-container .text-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.about-container .text-section .social-icons {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}
.about-container .text-section .social-icons a {
  font-size: 26px;
  color: #333;
  text-decoration: none;
  border: 1px solid;
  border-radius: 50%;
  border-color: #a5aaaa;
}
.about-container .text-section .social-icons a i {
  padding: 10px;
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: center;
}
.about-container .text-section .social-icons a:hover {
  color: #FF5868;
  border-color: #FF5868;
}
.about-container .text-section .info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.about-container .text-section .info-grid div {
  font-size: 16px;
}
.about-container .text-section .info-grid div strong {
  font-weight: bold;
}

/*# sourceMappingURL=about.css.map */
