body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.logo {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 20%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 40px;
  padding-right: 7%;
}
.topnav a {
  color: #333;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  transition: color 0.3s;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}
.topnav a:hover, .topnav a.active {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}
.topnav .icon {
  display: none;
  font-size: 24px;
}
.topnav .menu {
  display: flex;
  gap: 10px;
}
.topnav .menu :last-child a {
  margin-right: 20%;
}
@media screen and (max-width: 886px) {
  .topnav .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .topnav.responsive .menu {
    display: flex;
    z-index: 10;
  }
  .topnav.responsive .menu a {
    border-bottom: 0px;
  }
  .topnav .icon {
    display: flex;
  }
}

.portfolio-header {
  text-align: center;
  margin: 0 20% 70px;
}
.portfolio-header h5 {
  margin-top: 50px;
  color: #a5aaaa;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}
.portfolio-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.portfolio-header::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #e74c3c;
  margin: 10px auto 0;
}

.rectangle {
  width: 300px;
  height: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 1px;
  border: 1px solid rgba(165, 170, 170, 0.2);
}
.rectangle .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff5c5c;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle .circle img {
  width: 30px;
  height: 30px;
}
.rectangle .circle-big {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 92, 92, 0.3);
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
.rectangle p {
  text-decoration: underline;
  color: #a5aaaa;
}
.rectangle span {
  font-weight: bold;
  font-size: 14px;
}

.content {
  margin: 0 20% 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content h3 {
  margin-bottom: 50px;
}

.contact-form {
  margin: 0 20%;
}
.contact-form .personal-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: 0 5px 20px;
}
.contact-form .personal-info input {
  width: 45%;
  height: 40px;
  border: 1px solid #a5aaaa;
  outline: none;
  padding: 0 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: all 0.3s ease;
}
.contact-form .personal-info input:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.2);
}
.contact-form .personal-info input::placeholder {
  color: #a5aaaa;
}
.contact-form .message {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 4px 0px 4px;
}
.contact-form .message input,
.contact-form .message textarea {
  border: 1px solid #a5aaaa;
  padding: 10px 18px 0 18px;
  margin: 0 4px 20px;
  width: calc(100% - 40px);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: all 0.3s ease;
  height: 150px;
  resize: none;
}
.contact-form .message input:focus,
.contact-form .message textarea:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.2);
}
.contact-form .message input::placeholder,
.contact-form .message textarea::placeholder {
  color: #a5aaaa;
}
.contact-form .message input {
  padding-top: 0px;
  height: 40px;
}
.contact-form button {
  position: relative;
  background-color: #e74c3c;
  border: none;
  color: #FFFFFF;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
  letter-spacing: 0.1em;
}
.contact-form button:after {
  content: "";
  background: rgb(255, 192, 92);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -60px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.contact-form button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@font-face {
  font-family: "Font1";
  font-weight: 1000;
  src: url(/Fonts/font.otf) format("otf");
}
.urosVelickovic {
  margin-left: calc(20% + 5px);
  margin-bottom: 20px;
  font-family: "Font1";
  font-weight: bold;
  letter-spacing: 0.1em;
}
.urosVelickovic p {
  margin-bottom: 60px;
}

/*# sourceMappingURL=contact.css.map */
