$primary-color: #FF5868;
$secondary-color: #a5aaaa;
$background-color: #f7f7f7;
$font-family: Arial, sans-serif;
$font-family-alt: Helvetica, sans-serif;


body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
}

.logo {
  font-family: $font-family-alt;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 20%;
}

.topnav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 40px;
  padding-right: 7%;

  a {
    color: #333;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: color 0.3s;
    font-family: $font-family;
    text-transform: uppercase;


    &:hover,
    &.active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;

    }

    &.icon {
      border-bottom: none;
      padding: 0;
      margin:20px;
    }

  }

  .icon {
    display: none;
    font-size: 24px;
  }

  .menu {
    display: flex;
    gap: 10px;

  }

  @media screen and (max-width: 886px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 50px;
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #ddd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.responsive .menu {
      display: flex;
      z-index: 10;

      a{
        border-bottom:0;
      }
    }

    .icon {
      display: flex;

    }
  }
}


.portfolio-header {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;




  h5 {
    margin-top: 50px;
    color: #a5aaaa;
    letter-spacing: 0.3em;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    margin-top: 5px;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 4px;
      background-color: #e74c3c;
      margin: 10px auto 0;
    }
  }
}

.arrow {
  position: fixed;
  bottom: -7px;
  right: 5px;
  transform: translateY(-60%);
  height: 50px;
  width: 50px;
  background-color: $primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    padding: 16px;
  }
}
